.container,
.scroll-view-content,
/deep/.topic-wrap {
    background: #121212 !important;
    border-color: #121212 !important;
    .title {
        color: #ababab !important;
    }
}
.list-wrap {
    background: #1b1b1b !important;
}
.cur {
    color: #8eabff !important;
    text {
        border-bottom-color: #8eabff !important;
    }
}
/deep/.tag {
    view {
        background: #ababab !important;
        .tag-symbol {
            color: #1b1c1f !important;
        }
    }
}
